body, html {
	height: 100%;
	margin: 0;
	font-family: Aktiv Grotesk Hairline;
	
}
* {
	box-sizing: border-box;
}

header {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	background-color: #a4c67d;
	font-size: 20px;
}

header * {
	display: inline;
	height: 50px;
}

header ul {
	padding: 0;
}

header li {
	margin-left: 20px;
}

.design {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px;
    padding-bottom: 50px;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Bello Script Pro;
    font-size: 35px;

}
.nobull {
	list-style-type: none;
}

.info {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px;
    padding-bottom: 50px;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
a:link {
	color: white;
	text-decoration: none;
}
a:hover {
	color: hotpink;
	text-decoration: none;
}
* {
	box-sizing: border-box;
}
img {
	vertical-align: middle;
}
.container {
	position: relative;
}
.mySlides {
	display: none;
}
.cursor {
	cursor: pointer;
}
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.caption-container {
	text-align: center;
	background-color: #222;
	padding: 2px 16px;
	color: white;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
.column {
	float: left;
	width: 16.66%;
}
.demo {
	opacity: 0.6;
}
.active, .demo:hover {
	opacity: 1;
}
