
body {
	margin: 0;
	margin-top: 50px;
	font-family: Aktiv Grotesk Hairline;
}

header {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	background-color: #a4c67d;
}

header * {
	display: inline;
	height: 50px;
}

header ul {
	padding: 0;
}

header li {
	margin-left: 20px;
}


img[src="img/logo_with_text.png"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	/*border-radius: 50%;*/
}
section {
    height: 100vh;
    border: 1px solid #a4c67d;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px;
    padding-bottom: 50px;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section.work>div {
	background-color: #a4c67d;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-align: none;
	display: inline-block;
	font-size: 32px;
	font-family: Aktiv Grotesk Hairline;
	margin: 4px 2px;
	border-radius: 12px;
	
}
section.contact>div {
	background-color: #a4c67d;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-align: none;
	display: inline-block;
	font-size: 32px;
	font-family: Aktiv Grotesk Hairline;
	margin: 2px 2px;
	border-radius: 12px;

}

a:link {
	color: #ffff;
	text-decoration: none;
}
a:visited {
	color: solid black;
	text-decoration: none;
}
a:hover {
	color: hotpink;
	text-decoration: none;
}
footer {
	text-align: center;
	padding: 50px;
}
/*#hero h1 {
	font-size: 3em;
}*/
section h2 {
	font-size: 2.5em;
}
section h3 {
	font-size: 1.5em;
}
header a {
	text-decoration: none;
	color: black;
}

.hero {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url(img/flowers02.jpg);
}

.work {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url(img/background02.png);
}

.contact {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url(img/train.png); }
